environments:
  istio: &I
    values:
      - ../common/gateway-configurations/istio.yaml
  kgateway: &KG
    values:
      - ../common/gateway-configurations/kgateway.yaml
  gke: &GKE
    values:
      - ../common/gateway-configurations/gke.yaml
  default:
    <<: *I

---

{{- $ns := .Namespace | default "llm-d-inference-scheduling" -}}
{{- $rn := (env "RELEASE_NAME_POSTFIX") | default "inference-scheduling" -}}

# repositories:
#   - name: llm-d-infra
#     url: https://llm-d-incubation.github.io/llm-d-infra/

releases:
  - name: {{ printf "infra-%s" $rn | quote }}
    namespace: {{ $ns }}
    # chart: llm-d-infra/llm-d-infra
    # version: v1.3.0
    chart: ../../../charts/llm-d-infra/
    installed: true
    labels:
      type: infrastructure
      kind: inference-stack
    values:
      - gateway:
        {{ .Environment.Values.gateway | toYaml | nindent 10 }}
      - gateway:
          destinationRule:
            host: {{ printf "gaie-%s-epp.%s.svc.cluster.local" $rn $ns | quote }}

  - name: {{ printf "gaie-%s" $rn | quote }}
    namespace: {{ $ns }}
    # chart: oci://registry.k8s.io/gateway-api-inference-extension/charts/inferencepool
    # version: v0.5.1
    chart: ../../../../gateway-api-inference-extension/config/charts/inferencepool/
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
    values:
      - gaie-inference-scheduling/values.yaml
    {{- if or (eq .Environment.Name "gke") (eq .Environment.Name "gke_tpu") }}
      - provider:
          name: {{ .Environment.Values.provider.name }}
    {{- end }}
    labels:
      kind: inference-stack