# Global owners for the entire repo
* @Gregory-Pereira @nerdalert @tlrmchlsmth @robertgshaw2-redhat

# Example specific codeowners, including global owners
/quickstarts @smarterclayton
/quickstarts/guides/inference-scheduling/ @nirrozenbaum @vMaroon @ahg-g @kfirtoledo
/quickstarts/guides/pd-disaggregation/ @njhill @wseaton
/quickstarts/guides/precise-prefix-cache-aware/ @vMaroon @ahg-g
/quickstarts/guides/simulated-accelerators/ @shmuelk
/quickstarts/guides/wide-ep-lws/ @njhill @wseaton

# GKE specific example files
**/gke.helmfile.yaml  @liu-cong @smarterclayton
**/gke.md             @liu-cong @smarterclayton
