{{- $gc := .Values.gateway.gatewayClassName | default "istio" -}}
{{- if and .Values.gateway.enabled (or (eq $gc "kgateway") (eq $gc "agentgateway")) .Values.gateway.gatewayParameters.enabled }}
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayParameters
metadata:
  name: {{ include "gateway.fullname" . }}
  labels: {{ include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/gateway: {{ include "gateway.fullname" . }}
    app.kubernetes.io/component: inference-gateway
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  annotations:
    {{- if .Values.commonAnnotations }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.gateway.annotations }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.gateway.annotations "context" $) | nindent 4 }}
    {{- end }}
spec:
  kube:
    {{- if eq $gc "kgateway" }}
    envoyContainer:
      securityContext:
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      bootstrap:
        componentLogLevels:
          upstream: {{ .Values.gateway.gatewayParameters.logLevel }}
          http: {{ .Values.gateway.gatewayParameters.logLevel }}
          connection: {{ .Values.gateway.gatewayParameters.logLevel }}
        logLevel: warn # keep as info for everything else, the other debug levels will be sufficient if more logging needed
      {{- if .Values.gateway.gatewayParameters.resources }}
      resources: {{ .Values.gateway.gatewayParameters.resources | toYaml | nindent 8 }}
      {{- end}}
    {{- else if eq $gc "agentgateway" }}
    agentgateway:
      enabled: true
      securityContext:
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      logLevel: {{ .Values.gateway.gatewayParameters.logLevel }}
      {{- if .Values.gateway.gatewayParameters.resources }}
      resources: {{ .Values.gateway.gatewayParameters.resources | toYaml | nindent 8 }}
      {{- end}}
    {{- end }}
    service:
      type: {{ .Values.gateway.service.type | default "ClusterIP" | quote }}
      {{- if .Values.gateway.service.ports }}
      ports: {{ .Values.gateway.service.ports | toYaml | nindent 8 }}
      {{- end }}
      extraLabels:
        gateway: custom
    podTemplate:
      extraLabels:
        gateway: custom
    sdsContainer:
      securityContext:
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        seccompProfile:
          type: RuntimeDefault
{{- end}}
